body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

body h1,
body h2,
body h3,
body p {
  color: #567568;
}

.navbar-brand img {
  max-height: 40px;
  visibility: none;
}

.navbar-collapse li {
  font-size: 14px;
}

.btn-login {
  background-color: none;
  color: white;
}

.btn-login:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}

header {
  padding: 220px 0 165px;
  background: rgba(0, 0, 0, 0.5) url("../images/header-image.jpg");
  background-blend-mode: darken;
  background-size: cover;
  margin-top: -90px;
}

header h1,
header h2,
header p {
  color: white;
}

header h1,
header h2 {
  font-size: 50px;
}

header h1 {
  font-family: "Poppins", serif;
  font-weight: bold;
}

header h2 {
  font-family: "Poppins", serif;
}

header p {
  font-size: 15px;
}

header .btn-get-started {
  background-color: #ff8838;
  color: white;
  border-radius: 15px;
}

header .btn-get-started:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 15px;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
}

.section-stats .stats-detail-left {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
  border-radius: 15px 0 0 15px;
}

.section-stats .stats-detail-right {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
  border-radius: 0 15px 15px 0;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: normal;
}

.details .container {
  margin-top: 125px;
}

.details h2 {
  font-size: 30px;
  font-weight: bold;
}

.details p {
  font-size: 20px;
  font-weight: normal;
}

.details img {
  border-radius: 20px;
  width: 200px;
}

.details .btn-view-details {
  background-color: #ff8838;
  color: white;
}

.details .btn-view-details:hover {
  background-color: #ffb98a;
  color: white;
}

.details hr {
  margin-top: 100px;
  width: 30%;
}

.openfrom .container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.openfrom .container h3 {
  font-weight: bold;
  font-size: 40px;
}

.openfrom .container h2 {
  font-size: 20px;
}

.openfrom .container .btn-buy-ticket {
  background-color: #ff8838;
  color: white;
}

.openfrom hr {
  margin-top: 100px;
  width: 30%;
}

.merchandise-section {
  margin-top: 80px;
}

.merchandise-section .merchandise-section-details .title {
  font-weight: bold;
}

.merchandise-section .merchandise-section-details .card-merchandise {
  min-height: 380px;
  background-color: #ddd;
  color: white;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

.merchandise-section .merchandise-section-details .merchandise-name {
  font-size: 18px;
  color: white;
}

.merchandise-section .merchandise-section-details .merchandise-price {
  font-size: 26px;
  color: white;
}

.merchandise-section .merchandise-section-details .merchandise-button .btn-merchandise-details {
  background-color: #ff8838;
  color: white;
}

.merchandise-section .merchandise-section-details .merchandise-button .btn-merchandise-details:hover {
  background-color: #ffb583;
  color: white;
}

.merchandise-section hr {
  margin-top: 100px;
  width: 30%;
}

.video-gallery {
  margin-top: 80px;
}

.video-gallery hr {
  margin-top: 100px;
  width: 30%;
}

.video-gallery .youtube-videos {
  margin-top: 40px;
}

.video-gallery .youtube-videos iframe {
  border-radius: 10px;
}

.location-maps {
  margin-top: 80px;
}

.location-maps hr {
  margin-top: 100px;
  width: 30%;
}

.location-maps iframe {
  margin-top: 40px;
  border-radius: 20px;
}

.contact-us {
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-us .form-details h3 {
  margin-bottom: 20px;
}

.contact-us .form-details .form-group input {
  margin-bottom: 10px;
}

.contact-us .form-details .form-group #input-feedback {
  height: 50px;
}

.contact-us .form-details .btn-form-submit {
  background-color: #ff8838;
  color: white;
  float: right;
}

.contact-us .about-details h3,
.contact-us .about-details h4 {
  color: #567568;
  font-size: 20px;
  margin-bottom: 15px;
}

.contact-us .about-details .title {
  font-weight: bold;
}

.contact-us .about-details h3 {
  font-size: 30px;
  font-weight: bold;
}

footer {
  margin-top: -40px;
  background-color: none;
}

footer .footer-title h2 {
  font-size: 15px;
  color: #707070;
}

.about-main-content {
  padding-top: 20px;
}

.about-main-content .photo-spot-container {
  margin-bottom: 100px;
}

.about-main-content .new-page {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-main-content span {
  font-weight: bold;
}

.about-main-content .title-about-main span {
  font-weight: bold;
}

.thankyou-content {
  margin-top: 200px;
  margin-bottom: 50px;
}

.thankyou-content img {
  margin-bottom: 30px;
}

.thankyou-content h2 {
  font-size: 25px;
  color: #567568;
}

.thankyou-content span {
  font-weight: bold;
}

.thankyou-content .btn-get-started {
  margin-bottom: 50px;
  background-color: #ff8838;
  color: white;
}

.thankyou-content .btn-get-started:hover {
  background-color: #ffb98b;
  color: white;
}

.login-card {
  padding: 190px 0 165px;
  background: rgba(0, 0, 0, 0.5) url("../images/header-image.jpg");
  background-blend-mode: darken;
  background-size: cover;
  margin-top: -90px;
  margin-bottom: auto;
  /*support google chrome*/
  /*support mozilla*/
  /*support internet explorer*/
}

.login-card h2 {
  color: white;
}

.login-card .login-card-box {
  margin: auto;
  width: 20em;
  height: 250px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 30px 0 30px 0;
}

.login-card .form-control {
  margin: auto;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.login-card .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  border: none;
}

.login-card .form-control:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  border: none;
}

.login-card .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  border: none;
}

.login-card .form-check-input {
  color: red;
}

.login-card .btn-form-signup {
  border-color: white;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}

.login-card .btn-login {
  background-color: #ff8838;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}
/*# sourceMappingURL=main.css.map */
